{% extends 'base.html' %} 
{% block title %} 
Main page
{% endblock %}
{% block content %}

<div class="text-center">
<h1>Water Controller</h1>
The human body is made up of approximately 60% water, the brain is 75% water and our blood is 83%. We are continually losing water over the day through urine, sweat and in our breath as vapour.
This water has to be replaced, as the body cannot store water. In fact, the human body can last weeks without food but only days without water; water is absolutely essential to life.
Water is important to remove waste products from the body and to help the body process and get rid of any toxins. The kidneys require plenty of water to filter and remove impurities and waste from the blood. The liver, your body’s main detoxification organ also needs water to neutralise harmful substances so they can be safely removed from the body.
Adding a squeeze of lemon to your water will further stimulate the liver’s detoxification pathways.
This application will help you to notice how much water you are drinking daily. And also to generate a raport in json format about your drinking water history.
</div>
<div class="text-center">
<button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('home.register') }}'">Register</button>
<button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('home.login') }}'">Sign in</button>
</div>
{% endblock %}
  