{% extends 'base.html' %} 
{% block title %} 
User profile
{% endblock %}
{% block content %}

<div class="text-center">
<h1>My profile</h1>
<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Quantity</th>
  </tr>
      {% for row in water_list|sort(attribute='timestamp', reverse = True) %}
    <tr>
    <td>{{ row.timestamp.strftime('%Y-%m-%d') }}</td>
    <td>{{ row.timestamp.strftime('%H:%M') }}</td>
    <td>{{ row.quantity }}</td>
    </tr>
      {% endfor %}

</table>
    <br>
    <h2> You drunk </h2>
    <p>
        {{ sum_of_water }}<br>
        <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('home.generate_raport') }}'">Generate raport</button>
{#        <button type="submit" onclick="window.open('file.doc')">Download!</button>#}
<h3>Register water intake</h3>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <input type=submit value="Submit">
  </form>
</div>
<div class="text-center">
</div>
{% endblock %}
  